<!DOCTYPE html>
<html>
  <head>
    <title>Leaving Home</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">

      </div>
      <div id="main">
        <form method="post" action="{{ url_for('submitted_update') }}">
          <h2 class="insideTitle">Change of plans?</h2>
          <div>
            <div class="label-box">
              <p>I'll be back by:</p>
            </div>
            <input type="time" name="ETA" required>
          </div>

          <div class="centerDiv">——————   or   ——————</div>

          <input class="btn2" value="I'm not coming back home." />
          <input type="submit" class="btn" value="Update Values" />
        </form>
      </div>
    </div>
  </body>
</html>
